# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
kws_env/

# Datasets & Temp Audio Downloads
ESC-50/
ESC-50-master/
*.wav
*.mp3

# Machine Learning Checkpoints, Calibration Data & Large Binaries
*.pth
*.pt
*.onnx
*.tflite
*.npy
*.npz
*.bin
*.zip
*.tar.gz
calib_data/
val_data/
tf_saved_model*/
tf_cnn_int8*/
tflite_models*/
onnx_models*/

# Build Directories (Zephyr RTOS, CMake, ESP-IDF)
build/
twister-out/
.cache/
.ninja_deps
.ninja_log

# OS specific files
.DS_Store
Thumbs.db
